/* importing web-fonts */

/* 나눔스퀘어 */
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
/*'NanumSquare' font-weight : 300, 400, 700, 800 */

/* 나눔고딕 */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/*'Nanum Gothic' font-weight : 400, 700, 800*/

/* 나눔명조 */
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800&subset=korean');
/*font-family: 'NanumMyeongjo', serif;*/

/* 구글 본고딕*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
/*font-family: "Noto Sans KR", sans-serif;*/

/*******************************************************************************
Slate theme and MeyerWeb reset styles
*******************************************************************************/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.outer {
    width: 100%;
}

.inner {
    position: relative;
    max-width: 640px;
    padding: 20px 10px;
    margin: 0 auto;
}

#forkme_banner {
    display: block;
    position: absolute;
    top:0;
    right: 10px;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#header_wrap {
    background: #212121;
    background: -moz-linear-gradient(top, #373737, #212121);
    background: -webkit-linear-gradient(top, #373737, #212121);
    background: -ms-linear-gradient(top, #373737, #212121);
    background: -o-linear-gradient(top, #373737, #212121);
    background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
    padding: 50px 10px 30px 10px;
}

#project_title {
    margin: 0;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    text-shadow: #111 0px 0px 10px;
}

#project_tagline {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    background: none;
    text-shadow: #111 0px 0px 10px;
}

#downloads {
    position: absolute;
    width: 210px;
    z-index: 10;
    bottom: -40px;
    right: 0;
    height: 70px;
    background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
    display: block;
    float: right;
    width: 90px;
    height:70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
    display: block;
    float: right;
    width: 90px;
    height:70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url(../images/sprite_download.png) no-repeat bottom right;
    margin-left: 10px;
}

.zip_download_link:hover {
    background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
    background: url(../images/sprite_download.png) no-repeat top right;
}

#main_content_wrap {
    background: #f2f2f2;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

#main_content {
    padding-top: 40px;
}

#footer_wrap {
    background: #212121;
}

/* custom styles */
body {
    padding: 50px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #777;
    background-color: white;
    font-weight: 300;
}

p {
    font-size: 11pt;
    margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: NanumSquare, sans-serif;
    color: #222;
    margin: 0 0 20px;
}

ul, ol, table, pre, dl {
    margin: 0 0 20px;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1 {
    font-size: 28px;
}

h2 {
    color: #393939;
}

h3, h4, h5, h6 {
    color: #494949;
}

a {
    color: #39c;
    font-weight: 400;
    text-decoration: none;
}

a small {
    font-size: 11px;
    color: #777;
    margin-top: -0.6em;
    display: block;
}

.wrapper {
    width: 860px;
    margin: 0 auto;
}

blockquote {
    border-left: 1px solid #e5e5e5;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

code, pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    color: #333;
    font-size: 12px;
}

pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}

dt {
    color: #444;
    font-weight: 700;
}

th {
    color: #444;
}

img {
    max-width: 100%;
}

header {
    width: 270px;
    float: left;
    position: fixed;
}

header ul {
    list-style: none;
    height: 40px;

    padding: 0;

    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);

    border-radius: 5px;
    border: 1px solid #d2d2d2;
    box-shadow: inset #fff 0 1px 0, inset rgba(0, 0, 0, 0.03) 0 -1px 0;
    width: 270px;
}

header li {
    width: 89px;
    float: left;
    border-right: 1px solid #d2d2d2;
    height: 40px;
}

header ul a {
    line-height: 1;
    font-size: 11px;
    color: #999;
    display: block;
    text-align: center;
    padding-top: 6px;
    height: 40px;
}

strong {
    color: #222;
    font-weight: 700;
}

header ul li + li {
    width: 88px;
    border-left: 1px solid #fff;
}

header ul li + li + li {
    border-right: none;
    width: 89px;
}

header ul a strong {
    font-size: 14px;
    display: block;
    color: #222;
}

section {
    width: 500px;
    float: right;
    padding-bottom: 50px;
}

small {
    font-size: 11px;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
}

footer {
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
}

@media print, screen and (max-width: 960px) {

    div.wrapper {
        width: auto;
        margin: 0;
    }

    header, section, footer {
        float: none;
        position: static;
        width: auto;
    }

    header {
        padding-right: 320px;
    }

    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px;
    }

    header a small {
        display: inline;
    }

    header ul {
        position: absolute;
        right: 50px;
        top: 52px;
    }
}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }

    header {
        padding: 0;
    }

    header ul, header p.view {
        position: static;
    }

    pre, code {
        word-wrap: normal;
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding: 15px;
    }

    header ul {
        display: none;
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}

.book-cover-image {
    width: 230px;
    height: 230px;
    background: url(../images/r-visualization-book-cover.jpg);
    background-size: cover;
    /*border: solid 1px #dddddd;*/
    margin-bottom: 10px;
}
